:root {
    --blue: #2A2D6A;
    --dark: #111224;
    --violet: #4d27bd;
}

body {
    font: 20px 'Titillium Web', sans-serif;
}

/* Nav */
#conteudoNavbar{
    display: flex;
    align-items: center;
    justify-content: flex-end !important;
}

@media (max-width: 990px){
    #conteudoNavbar{
        display: flex;
        align-items: center;
        justify-content: center !important;
    }
}

.navbar{
    background-color: #4d27bd;
    /* position: fixed;
    width: 100%;
    z-index: 2; */
}

.link-button{
    font-size: 22px;
    color: #FFF !important;
}

.link-button:hover{
    color: rgb(221, 217, 217) !important;
}

/* SESSÃO: QuemSomos */
section .quem-somos{
    height: 100vh;
    background-color: #242424;
}

.quem-somos{
    color: #FFF;
    background-image: url('img/line-violet1.png');
    background-repeat: no-repeat;
    background-position: right;
}

.messageSlogan{
    font-style: italic;
    color: rgba(0, 0, 0, 0.40);
}

/* ---------------------------------------------- */

/* SESSÃO: Parceiros */
section .parceiros{
    height: 100vh;
}
.parceiros{
    background-color: #1CC283;
    background-image: url('img/line-dark-grey.png');
    background-repeat: no-repeat;
    background-position: right;
}
/* ---------------------------------------------- */

/* SESSÃO: Serviços */
section .servicos{
    height: 100vh;
}

.servicos{
    background-color: #6532FF;
    background-image: url('img/line-green1.png');
    background-repeat: no-repeat;
    background-position: center;
}
/* ---------------------------------------------- */

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

/* Footer */
.bg-footer{
    background-color: var(--dark);
    color: #FFF;
}